{% extends 'base.html' %}

{% block content %}
<div class="py-5">
    <h3>{{ new.title }}</h3>
</div>
<div class="card p-5">
  
    <img src="{{ new.image.url }}" class="card-img-top" alt="{{ new.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ new.title }}</h5>
      <p class="card-text">{{ new.body }}</p>
      <span class="small badge badge-info bg-primary">{{ new.created }}</span>
      {% if user.is_superuser %}
      <a href="{% url 'new:remove' id=new.id %}" class="btn btn-danger float-end">O'chirish</a>
      {% endif %}
    </div>
</div>

{% endblock content %}
